Repository Nerdych/Aperture: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run eslint:fix

.lintstagedrc.json:

{
  "*.js": ["npm run prettier", "npm run eslint:fix", "git add"],
  "*.{html, scss, json}": ["npm run prettier", "git add"]
}

Check husky works
  src/assets/scripts/helper.js
Due: npm run prettier, npm run eslint:fix

Fix husky config
  .husky/pre-commit
  .huskyrc.json
  package.json
  src/assets/scripts/helper.js
  src/assets/scripts/index.js
Due: npm run prettier, npm run eslint:fix

Add stylelint in project
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc
  package-lock.json
  package.json
  src/assets/styles/styles.scss
Due: none

Add stylelint scripts
  .eslintrc
  .prettierrc
  package.json
Due: none

Add scss config files and change head.html
  docs/images/favicon.ico
  docs/index.html
  docs/scripts/index.js
  gulp/config/path.js
  gulp/tasks/server.js
  gulp/version.json
  src/assets/images/favicon.ico
  src/assets/styles/_imports.scss
  src/assets/styles/config/_fonts.scss
  src/assets/styles/config/_reset.scss
  src/assets/styles/config/_vars.scss
  src/assets/styles/styles.scss
  src/html/head.html
  src/html/header.html
  src/index.html
Due: npm run prettier, npm run eslint:fix

Check stylelint works
  src/assets/styles/config/_fonts.scss
Due: none

Test stylelint
  .stylelintrc
  package-lock.json
  package.json
Due: none

Test stylelint
  .stylelintrc
  src/assets/styles/config/_fonts.scss
Due: none

Add task fonts
  gulp/config/path.js
  gulp/tasks/fonts.js
  gulp/tasks/scss.js
Due: npm run prettier, npm run eslint:fix

Change stylelint config
  .stylelintrc
  docs/css/styles.min.css
  docs/fonts/Poppins-Regular.ttf
  docs/fonts/Poppins-Regular.woff
  docs/fonts/Poppins-Regular.woff2
  docs/fonts/Poppins-SemiBold.ttf
  docs/fonts/Poppins-SemiBold.woff
  docs/fonts/Poppins-SemiBold.woff2
  docs/scripts/index.js
  gulp/tasks/fonts.js
  gulp/tasks/scss.js
  gulp/version.json
  gulpfile.js
  src/assets/styles/_imports.scss
  src/assets/styles/config/_fonts.scss
  src/assets/styles/config/_reset.scss
  src/assets/styles/config/_vars.scss
Due: npm run prettier, npm run eslint:fix

Complete page header
  docs/css/styles.min.css
  docs/images/android-icon.png
  docs/images/apple-icon.png
  docs/images/icon.svg
  docs/index.html
  gulp/version.json
  src/assets/images/android-icon.png
  src/assets/images/apple-icon.png
  src/assets/images/icon.svg
  src/assets/styles/_imports.scss
  src/assets/styles/components/_button.scss
  src/assets/styles/components/_header.scss
  src/assets/styles/config/_reset.scss
  src/assets/styles/config/_vars.scss
  src/assets/styles/styles.scss
  src/html/head.html
  src/html/header.html
Due: npm run prettier

Create new build
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  gulp/version.json
Due: npm run prettier, npm run eslint:fix

Fix image
  src/assets/styles/styles.scss
Due: none

Fix some adaptive
  docs/css/styles.min.css
  docs/index.html
  gulp/version.json
  src/assets/styles/components/_header.scss
  src/assets/styles/components/_info.scss
  src/assets/styles/styles.scss
  src/index.html
Due: npm run prettier

Fix images mixin
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  gulp/version.json
  src/assets/styles/mixins/_image-set.scss
  src/index.html
Due: npm run prettier, npm run eslint:fix

Fix quotes
  src/assets/styles/mixins/_image-set.scss
Due: none

Fix
  docs/index.html
  gulp/version.json
Due: npm run prettier

Add normal file
  docs/images/mountain@2x.jpg
Due: none

Delete mountaIn@2x.jpg
  docs/images/mountaIn@2x.jpg
Due: none

Fix eslint
  .eslintrc
Due: none

Edit js
  src/assets/scripts/index.js
Due: npm run prettier, npm run eslint:fix

some fixes
  package.json
  src/assets/scripts/index.js
Due: npm run prettier, npm run eslint:fix

Delete unused file
  src/assets/scripts/helper.js
Due: npm run prettier, npm run eslint:fix

Create new build
  docs/index.html
  gulp/version.json
Due: npm run prettier

Add animations
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  gulp/version.json
  src/assets/styles/components/_button.scss
  src/assets/styles/components/_footer.scss
  src/assets/styles/components/_header.scss
  src/assets/styles/components/_info.scss
  src/assets/styles/config/_reset.scss
  src/assets/styles/styles.scss
  src/html/footer.html
  src/html/header.html
  src/html/info.html
  src/html/svg.html
  src/index.html
Due: npm run prettier, npm run eslint:fix

Fix button animations
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  gulp/version.json
  src/assets/styles/components/_button.scss
  src/assets/styles/styles.scss
  src/html/footer.html
  src/index.html
Due: npm run prettier, npm run eslint:fix

Change z-index elements
  src/assets/styles/components/_button.scss
Due: none

Add span in all icon-buttons
  src/index.html
Due: npm run prettier

Add animation
  docs/css/styles.min.css
  docs/images/icons/sprite.svg
  docs/index.html
  docs/scripts/index.js
  gulp/version.json
  src/assets/images/icons/camera.svg
  src/assets/styles/components/_button.scss
  src/assets/styles/components/_header.scss
  src/assets/styles/styles.scss
  src/html/footer.html
  src/html/header.html
Due: npm run prettier, npm run eslint:fix

Change js task on webpack
  docs/index.html
  docs/scripts/index.js
  gulp/tasks/js.js
  gulp/version.json
  package-lock.json
  package.json
  src/assets/scripts/helper.js
Due: npm run prettier, npm run eslint:fix

Change cursor
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  gulp/version.json
  package-lock.json
  package.json
  src/assets/scripts/cursor.js
  src/assets/scripts/helper.js
  src/assets/styles/components/_button.scss
  src/assets/styles/styles.scss
  src/index.html
Due: npm run prettier, npm run eslint:fix
