Repository Nerdych/Aperture: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run eslint:fix, npm run stylelint:fix

.lintstagedrc.json:

{
  "*.js": ["npm run prettier", "npm run eslint:fix", "git add"],
  "*.scss": ["npm run prettier", "npm run stylelint:fix", "git add"],
  "*.{html,json}": ["npm run prettier", "git add"]
}

Create new build
  docs/index.html
  gulp/version.json
Due: npm run prettier

Fix images mixin and change animation links
  docs/css/styles.min.css
  docs/index.html
  gulp/version.json
  src/assets/styles/components/_header.scss
  src/assets/styles/mixins/_image-set.scss
  src/assets/styles/styles.scss
Due: npm run prettier, npm run stylelint:fix

Fix mixin images
  docs/css/styles.min.css
  docs/index.html
  gulp/tasks/scss.js
  gulp/version.json
  src/assets/styles/mixins/_image-set.scss
Due: npm run prettier, npm run eslint:fix, npm run stylelint:fix

Add animation in footer
  docs/css/styles.min.css
  docs/images/animate.svg
  docs/images/icons/sprite.svg
  docs/index.html
  gulp/version.json
  src/assets/images/animate.svg
  src/assets/images/icons/facebook.svg
  src/assets/images/icons/instagram.svg
  src/assets/images/icons/twitter.svg
  src/assets/styles/components/_footer.scss
  src/assets/styles/components/_header.scss
  src/assets/styles/styles.scss
  src/html/footer.html
  src/html/header.html
Due: npm run prettier, npm run stylelint:fix

Fix devices without hover
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  gulp/tasks/scss.js
  gulp/version.json
  src/assets/styles/styles.scss
Due: npm run prettier, npm run eslint:fix, npm run stylelint:fix

create new build
  src/assets/styles/styles.scss
Due: npm run prettier, npm run stylelint:fix

Create new build
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  gulp/version.json
Due: npm run prettier, npm run eslint:fix

Add animation barba.js
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  docs/video.html
  gulp/version.json
  package-lock.json
  package.json
  src/assets/scripts/animation.js
  src/assets/scripts/cursor.js
  src/assets/styles/components/_footer.scss
  src/assets/styles/styles.scss
  src/html/footer.html
  src/html/header.html
  src/index.html
  src/video.html
Due: npm run prettier, npm run eslint:fix, npm run stylelint:fix

Change animations
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  docs/video.html
  gulp/version.json
  src/assets/scripts/animation.js
  src/assets/styles/_imports.scss
  src/assets/styles/components/_container.scss
  src/assets/styles/components/_header.scss
  src/assets/styles/styles.scss
  src/html/header.html
  src/index.html
  src/video.html
Due: npm run prettier, npm run eslint:fix, npm run stylelint:fix

Change znimation between screens
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  docs/video.html
  gulp/version.json
  src/assets/scripts/animation.js
  src/assets/styles/styles.scss
  src/video.html
Due: npm run prettier, npm run eslint:fix, npm run stylelint:fix

Add open graph layout
  docs/index.html
  docs/scripts/index.js
  docs/video.html
  gulp/version.json
  src/assets/scripts/animation.js
  src/html/head.html
Due: npm run prettier, npm run eslint:fix

Add html prefix open graph
  src/index.html
Due: npm run prettier

Create new build
  docs/index.html
  docs/video.html
  gulp/version.json
Due: npm run prettier

Change open graph
  docs/index.html
  docs/video.html
  gulp/version.json
  src/html/head.html
Due: npm run prettier

Change description
  docs/index.html
  docs/video.html
  gulp/version.json
  src/html/head.html
Due: npm run prettier

Change og tags
  docs/index.html
  docs/video.html
  gulp/version.json
  src/html/head.html
Due: npm run prettier

Create new build
  docs/index.html
  docs/video.html
  gulp/version.json
  src/html/head.html
Due: npm run prettier

Add hidden text in burger menu
  docs/index.html
  docs/video.html
  gulp/version.json
  src/html/header.html
Due: npm run prettier

Add button aria-label and change animation dureation
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  docs/video.html
  gulp/version.json
  src/assets/styles/components/_header.scss
  src/html/header.html
Due: npm run prettier, npm run eslint:fix, npm run stylelint:fix

Create new build
  docs/css/styles.min.css
  docs/index.html
  docs/scripts/index.js
  docs/video.html
  gulp/version.json
Due: npm run prettier, npm run eslint:fix
